@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>ASP.NET Recording App</h1>
	<p><a href="#" onclick="location.href='@Url.Action("Index", "Formation")'" class="btn btn-primary btn-lg">Formation Page Here &raquo;</a></p>
</div>
